body{
    background-color: lightgray;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    box-sizing: border-box;
}
header{
    background-color: white;
    padding: 10px;  
}
header h1{
    margin: 0;
}
div.post{
    background-color: white;
    margin-top: 55px;
    margin-bottom: 55px;
}
div.container{
    width: 500px;
    margin: auto;
}
div.post img {
    width: 100%;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 19%;
    text-align: right;
    padding: 10px;
    color: grey;
}
div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}
